<% if flash[:notice] %>
     <p class="notice"><%= flash[:notice] %></p>
<% else %>
<p id="notice"><%= notice %></p>


<p>
  <b>Title:</b>
  <%= @plot.title %>
</p>


<p>
  <b>Plot:</b>
  <i><%= @plot.name %></i>
</p>


<p>
	<% if  !@plot.timepoint.nil? %>
  <b>Timepoints:</b><br />
  <%= @plot.timepoint %>
<% end %>
</p>


<% end %>

<%= link_to 'Edit', edit_plot_path(@plot) %> |
<%= link_to 'Back', plots_path %>
