<p id="notice"><%= notice %></p>


<p>
  <b>Title:</b>
  <%= @plot.title %>
</p>


<p>
  <b>Plot:</b>
  <i><%= @plot.name %></i>
</p>


<p>
  <b>Links:</b>
  <% @plot.youtubeid.each do |y| %>
	<font color="red">	<%=y %> </font>|| 
	<% end %>
</p>

<p>
	  <b>Plot words:</b><br />
	  <% @words.each do |w| %>
	<font color="blue"><%= w %></font>|
	<% end %>
	
	</p>
<p>
  <b>Youtubes:</b><br />
  <% @plot.content.each do |p| %>

<%= raw(p) %>

	<% end %>
</p>




<%= link_to 'Edit', edit_plot_path(@plot) %> |
<%= link_to 'Back', plots_path %>
