<%= paginate @relevant_phrases %>


<% @relevant_phrases.each do |ph| %>
 <%= form_for(ph) do |p| %>
        <%= hidden_field_tag 'ph_id', ph_id %>	
		<p> <%= ph.content %> |
		<%= radio_button_tag 'rating', 'unknown' %> | Unknown 
		<%= radio_button_tag 'rating', 'positive' %> | Positive
		<%= radio_button_tag 'rating', 'negative' %> | Negative </p>
		
		<div class = "actions">

<p><%= p.submit %></p>
</div>
<% end %><% end %>


