

<% @relevant_phrases.each do |ph| %>
 <%= form_for(ph) do |p| %>

        <%= p.hidden_field :phraseid, :value => ph.id %>	
	<p> <%= ph.content %> |
		<%= radio_button_tag 'rating', 'unknown' %> | Unknown 
		<%= radio_button_tag 'rating', 'positive' %> | Positive
		<%= radio_button_tag 'rating', 'negative' %> | Negative </p>
		
		<div class = "actions">

<p><%= p.submit %></p>
</div>
<% end %><% end %>