<!DOCTYPE html>
<html>
<head>
  <title>YApp</title>
	<%= link_to "Videos", videos_path %>
		<%= link_to "Words", words_path %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
